.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gaudgesDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gaudge {
  display: inline-block;
}

svg {
  width: fit-content;
  height: auto;
}
