body {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
}
.container{
  width: 50%;
}
#g1 {
  width: 300px;
  height: 220px;
  display: inline-block;
  margin: 1em;
}
#g2 {
  width: 300px;
  height: 220px;
  display: inline-block;
  margin: 1em;
}
p {
  font-family: Arial, Verdana;
  font-size: 1em;
  display: block;
  width: 300px;
  margin: 1em auto;
  text-align: left;
}
HR {
  display: block;
  width: 450px;
  border-color: orange;
}
h2 {
  font-family: Arial, Verdana;
  font-size: 1.2em;
  display: block;
  width: 450px;
  margin: 1em auto;
  text-align: left;
  color: orange;
}
