body{
    width: 100%;
    height: 100%;
}

li:hover{
    background-color: #0052ce;
}

.title h1 {
    font-size: 2.7em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 2%;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sx{
    display: flex;
    flex-direction: row;
}

.dx{
    display: flex;
    flex-direction: row;
}

h3{
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 2%;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.divButtons{
    padding: 2%;
    margin-top: 5%;
    border: 1px solid #0d6efd;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10%;
    }
  }