body{
    width: 100%;
    height: 100%;
}

.title h1 {
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 2%;
    font-family: 'Roboto', sans-serif;

}

.container{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.images{
    max-width: 65%;
    max-height: 100%;
    border-radius: 10px;
}

img.robot{
    max-width: 100%;
    max-height: 100%;
}

.buttons{
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divButtons{
    border-radius: 10px;
    height: auto;
}

.button{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}   

.buttonDivTitle{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10%;
}