<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>CENTRO DI CONTROLLO</h1>
    </div>
    <div class="container">
        <div class="images">
            <img src="../static/8zlmfvza.bmp" alt="Image not found!" class="robot">
        </div>
        <div class="buttons">
            <div class="movementButtons divButtons">
                <h3 class="buttonDivTitle">MOVIMENTO</h3>
                <a href="#" class="button" onclick="publish('avanti')">AVANTI</a>
                <a href="#" class="button" onclick="publish('indietro')">INDIETRO</a>
            </div>
            <div class="armButtons divButtons">
                <h3 class="buttonDivTitle">BRACCIO</h3>
                <a href="#" class="button" onclick="publish('alza')">ALZA</a>
                <a href="#" class="button" onclick="publish('abbassa')">ABBASSA</a>
            </div>
            <div class="clampButtons divButtons">
                <h3 class="buttonDivTitle">MORSA</h3>
                <a href="#" class="button" onclick="publish('apri')">APRI</a>
                <a href="#" class="button" onclick="publish('chidi')">CHIUDI</a>
            </div>
        </div>
    </div>

    <script>
        var socket = io();
        const publish = (azione) =>{
            socket.emit('publish', {message: azione, topic: "rasp1/comandi"})
        }
    </script>
</body>
</html>