<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="gaudgesDiv">
            <div id="g1" class="gaudge"></div>
            <div id="g2" class="gaudge"></div>
        </div>
        <div class="chartDiv">
            <div class="chart"></div>
        </div>
    </div>
    
    <script>
        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }

        document.addEventListener("DOMContentLoaded", function(event) {      
            var g1 = new JustGage({
                id: "g1",
                value: {{temp}},
                min: 0,
                max: 50,
                title: "Temperatura",
                levelColors:	["#a9d70b", "#f9c802", "#ff0000"],
                humanFriendly: false,
                symbol: "C°",
                pointer: false,
                relativeGaugeSize: false,
                donut: true,
            });

            var g2 = new JustGage({
                id: "g2",
                value: {{umi}},
                min: 0,
                max: 100,
                title: "Umidità",
                levelColors:	["#a9d70b", "#f9c802", "#ff0000"],
                humanFriendly: false,
                donut: false,
                pointer: true,
                symbol: "%",
                percents: true,
                relativeGaugeSize: false,
                donut: true,
            });
            g2.relativeGaugeSize = false;

            setInterval(() => {
                let datas = httpGet("http://127.0.0.1:4321/getData")
                let data = JSON.parse(datas)
                g1.refresh(data['temp']);
                g2.refresh(data.umi);  
            }, 2000)
        });
    </script>
</body>
</html>